h2 {
    color: rgb(170, 100, 43);
    position: absolute;
    top: 0px;
    left: 0px;
}

h1 {
    position: absolute;
    top: 60px;
    left: 0px;
}

span {
    color: rgb(137, 116, 39);
}

#pets {
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
    justify-content: space-evenly;
}

.card {
    border: 2px solid black;
    border-radius: 30px;
    height: 600px;
    width: 470px;
}

img {
    height: 300px;
    width: 450px;
    border-radius: 30px;
    padding: 10px;
}

h3 , p {
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
}

h4 {
    text-align: center;
}