#outer {
    border: 2px solid rgb(4, 166, 188);
    border-radius: 22px;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.inner {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: grey;
    font-size: 80px;
    margin: 20px;
    text-align: center;
}

#navbar {
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 2px solid rgb(4, 166, 188);
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-content: center;

}

.options {
    height: 50px;
    width: 80px;
    margin: 10px;
    font-size: 24px;
}