#container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: repeat(12 , 1fr);
    grid-gap: 10px;
}

#container div {
    background-color: pink;
    font-size: 1.5 rem;
}

.header {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
}

.navigation {
    grid-column: 4 / 10;
    grid-row: 2 / 3;
}

.sidebar {
    grid-column: 1 / 4;
    grid-row: 2 / 12;
}

.main {
    grid-column: 4 / 10;
    grid-row: 3 / 12;
}

.ads {
    grid-column: 10 / 13;
    grid-row: 2 / 12;
}

.footer {
    grid-column: 1 / 13;
    grid-row: 12 / 13;
}

@media (max-width: 720px) {
    .navigation {
        grid-column: 1 / 13;
    }

    .sidebar {
        grid-row: 3 / 12;
    }

    .main {
        grid-row: 3 / 12;
        grid-column: 4 / 13;
    }

    .ads {
        grid-row: 12 / 13;
        grid-column: 1 / 4;
    }

    .footer {
        grid-row: 12 / 13;
        grid-column: 4 / 13;
    }
}